{% extends 'main_plain.html' %} {% load static %} {% block content %}
<section
  class="bg-white p-4 lg:p-6 w-full max-w-2xl rounded-2xl mx-auto grid md:grid-cols-2 items-center justify-center gap-8"
>
  <i
    class="fa-solid fa-arrow-right-to-bracket text-indigo-700 text-9xl mx-auto"
  ></i>

  <div
    class="bg-gray-100 rounded-xl p-6 flex-col h-fit w-full max-w-lg shadow-md"
  >
    <h1 class="mb-4 text-black text-3xl font-bold">Login </h1>
    <form method="POST" class="w-full text-sm">
      {% csrf_token %}
      <div class="flex flex-col mb-2">
        <label for="username">Email</label>
        <input
          type="email"
          name="username"
          class="px-4 py-2 rounded-lg border border-gray-200 focus:border-none focus:outline-none focus:ring-1 focus:ring-sky-300 w-full"
          placeholder="Email"
          required
        />
      </div>
      <div class="flex flex-col mb-4">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          class="px-4 py-2 rounded-lg border border-gray-200 focus:border-none focus:outline-none focus:ring-1 focus:ring-sky-300 w-full"
          placeholder="Password"
          required
        />
      </div>
      <!-- redirects to intended page -->
      {% if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}" />
      {% endif %}
      <input
        type="submit"
        value="Login"
        class="mt-2 px-8 py-2 bg-sky-500 hover:bg-indigo-700 text-white rounded-lg cursor-pointer"
      />
    </form>
  </div>
</section>
{% endblock %}
