<form action="" hx-post="{{ request.path }}">
  {% csrf_token %}
  <h2
    class="px-4 py-2 bg-indigo-200 rounded-lg mb-4 text-center text-sm text-black"
  >
    {{ form_title }}
  </h2>
  <input
    name="price"
    type="text"
    value="{{curr_obj.price}}"
    class="mb-2 px-4 py-2 rounded-lg border focus:border-none focus:outline-none focus:ring-1 focus:ring-sky-300 w-full"
  />

  <div class="flex flex-row-reverse gap-2 items-end text-xs">
    <button
      class="px-4 py-2 bg-indigo-700 text-white hover:bg-indigo-900 rounded-lg"
      type="submit"
    >
      Save
    </button>
    <button
      onclick="close_modal()"
      type="button"
      class="modal_closer px-4 py-2 bg-gray-100 text-black hover:bg-red-300 rounded-lg"
    >
      Cancel
    </button>
  </div>
</form>
