<!-- date margin -->
<div class="relative group smoothen">
  <!-- <span
    class="absolute left-0 top-0 hidden group-hover:inline my-[0.15em] px-4 py-2 bg-sky-200 rounded-lg text-xs"
    >From...</span
  > -->
  <input
    class="hidden lg:inline px-3 py-2 rounded-lg border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-sky-400 w-full cursor-pointer"
    type="date"
    name="min_date"
    id="min_date"
  />
</div>
<div class="relative group smoothen">
  <!-- <span
    class="absolute left-0 top-0 hidden group-hover:inline my-[0.15em] px-6 py-2 bg-sky-200 rounded-lg text-xs"
    >Until...</span
  > -->
  <input
    class="hidden lg:inline px-3 py-2 rounded-lg border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-sky-400 w-full cursor-pointer"
    type="date"
    name="max_date"
    id="max_date"
  />
</div>
