{% extends 'main.html' %} {% load static %} {% block content %}

<section
  class="p-8 w-full max-w-7xl mx-auto flex flex-col justify-between gap-6"
>
  <div
    class="py-10 px-6 flex flex-col items-center gap-8 bg-white max-w-7xl mx-auto rounded"
  >
    <i class="fa-solid fa-folder-open text-9xl text-indigo-900"></i>

    <div class="w-full max-w-3xl mx-auto text-center">
      <h1 class="text-black my-4 text-6xl font-bold">
        Oups, Page introuvable!
      </h1>

      <p class="leading-normal text-lg mb-8">
        Désolé, la pages que vous recherchez n'exist pas. Vous pouvez toujours
        faire demi-tour ou aller ailleur.
      </p>
    </div>

    <a
      id="back-button"
      class="px-4 py-2 flex items-center gap-4 bg-lime-200 hover:bg-lime-400 text-black rounded transition-all duration-300"
      href="#"
      >&larr; <span>Retourner</span></a
    >
  </div>
</section>

{% endblock %}
