{% load static %}
<div
  class="bg-gradient-to-r from-indigo-700 to-sky-500 text-white rounded-r-3xl w-[60px] md:w-20 p-2 md:p-4 xl:w-[300px] min-h-screen fixed overflow-y-auto"
>
  <a class="mb-4 text-xl font-bold" href="{% url 'home' %}"> CRM </a>

  <!-- profile card -->
  <div
    class="w-full px-1 py-2 xl:p-2 flex flex-col xl:flex-row items-center gap-1 xl:gap-2 mb-2 bg-indigo-900 text-white sm:text-sm xl:text-md rounded-2xl"
  >
    {% if not user.profile.image %}
    <img
      class="xl:inline h-5 w-5 xl:h-24 xl:w-24 rounded-full object-cover"
      src="{% static 'imgs/anon.png' %}"
      alt="welcome image"
    />
    {% else %}
    <img
      class="hidden xl:block h-5 w-5 xl:h-24 xl:w-24 rounded-full object-cover"
      src="{{user.profile.image.url}}"
      alt="welcome image"
    />
    {% endif %}
    <div class="hidden xl:block w-full">
      <p class="font-bold">{{user.full_name|title}}</p>
      <p class="text-sky-200">@{{user.username}}</p>
    </div>
    <div class="relative">
      <button
        type="button"
        class="text-indigo-400 hover:text-sky-200 px-3 py-2 rounded-lg"
        name="dropdownBtn"
        id="dropdownBtn"
        aria-expanded="false"
        aria-haspopup="true"
        onclick="toggleDropdown(this)"
      >
        <i class="fa-sharp fa-solid fa-caret-down"></i>
      </button>

      <div
        class="mb-4 w-full xl:p-2 hidden absolute right-0 top-12 origin-top-left bg-gray-100 z-30 rounded-lg xl:w-40 grid gap-2 overflow-hidden"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="user-menu-button"
        id="dropdownMenu"
      >
        <a
          href="{% url 'user_details' user.id %}"
          class="px-3 py-2 flex text-xs text-gray-700 hover:text-black hover:bg-sky-200 xl:rounded-lg w-full"
        >
          <i class="fa-solid fa-user xl:mr-2"></i>
          <span class="hidden xl:inline">Profile</span>
        </a>
        <hr />
        <a
          id="logout-link"
          hx-boost="false"
          href="{% url 'logout' %}"
          class="px-3 py-2 flex text-xs text-red-700 hover:bg-red-700 hover:text-white xl:rounded-lg w-full"
        >
          <i class="fa-solid fa-right-from-bracket xl:mr-2"></i>
          <span class="hidden xl:inline">Logout</span>
        </a>
      </div>
    </div>
  </div>
  <!-- links -->
  <ul
    class="h-[calc(100vh-70px)] w-full flex flex-col gap-1 mx-auto items-center xl:items-start overflow-y-auto"
  >
    <a
      class="px-1 xl:px-3 py-[.35em] text-center xl:text-left rounded-lg hover:bg-white hover:text-indigo-700 transition ease-in duration-200 w-full {{home}}"
      href="{% url 'home' %}"
    >
      <i class="fa-solid fa-home text-sm xl:mr-2"></i>
      <span class="hidden xl:inline"> Home </span>
    </a>
    <a
      class="px-1 xl:px-3 py-[.35em] text-center xl:text-left rounded-lg hover:bg-white hover:text-indigo-700 transition ease-in duration-200 w-full {{cat_page}}"
      href="{% url 'categories' %}"
    >
      <i class="fa-solid fa-layer-group text-sm xl:mr-2"></i>
      <span class="hidden xl:inline"> Categories </span>
    </a>
    <a
      class="px-1 xl:px-3 py-[.35em] text-center xl:text-left rounded-lg hover:bg-white hover:text-indigo-700 transition ease-in duration-200 w-full {{prod_page}}"
      href="{% url 'products' %}"
    >
      <i class="fa-solid fa-boxes text-sm xl:mr-2"></i>
      <span class="hidden xl:inline"> Products </span>
    </a>
    <a
    class="px-1 xl:px-3 py-[.35em] text-center xl:text-left rounded-lg hover:bg-white hover:text-indigo-700 transition ease-in duration-200 w-full {{sale_point_page}}"
    href="{% url 'sale_point' %}"
    >
      <i class="fa-sharp fa-solid fa-cash-register text-sm xl:mr-2"></i>
      <span class="hidden xl:inline"> Point of sale </span>
    </a>
    <!-- hx-boost="false" -->
    <a
      class="px-1 xl:px-3 py-[.35em] text-center xl:text-left rounded-lg hover:bg-white hover:text-indigo-700 transition ease-in duration-200 w-full {{cart_page}} flex items-center"
      href="{% url 'cart' %}"
    >
      <i class="fa-sharp fa-solid fa-shopping-cart text-sm xl:mr-2"></i>
      <div class="flex items-center gap-2">
        <span class="hidden xl:inline"> Cart </span>
        {% if not cart %}
        <small
          id="cart_counter"
          class="bg-gray-200 text-black px-2 py-[2px] rounded-full text-[10px]"
          >{{cart|length}}</small
        >
        {% else %}
        <small
          id="cart_counter"
          class="bg-yellow-400 text-black px-2 py-[2px] rounded-full text-[10px]"
          >{{cart|length}}</small
        >
        {% endif %}
      </div>
    </a>
    <a
      class="px-1 xl:px-3 py-[.35em] text-center xl:text-left rounded-lg hover:bg-white hover:text-indigo-700 transition ease-in duration-200 w-full {{sales_page}}"
      href="{% url 'sales' %}"
    >
      <i class="fa-solid fa-tags text-sm xl:mr-2"></i>
      <span class="hidden xl:inline"> Sales </span>
    </a>
    <a
      class="px-1 xl:px-3 py-[.35em] text-center xl:text-left rounded-lg hover:bg-white hover:text-indigo-700 transition ease-in duration-200 w-full {{invoicing_page}}"
      href="{% url 'invoicing' %}"
    >
      <i class="fa-solid fa-scroll text-sm xl:mr-2"></i>
      <span class="hidden xl:inline"> Invoicing </span>
    </a>
    <a
      class="px-1 xl:px-3 py-[.35em] text-center xl:text-left rounded-lg hover:bg-white hover:text-indigo-700 transition ease-in duration-200 w-full {{clients_page}}"
      href="{% url 'clients' %}"
    >
      <i class="fa-solid fa-users-rays xl:mr-2 text-sm"></i>
      <span class="hidden xl:inline"> Clients </span>
    </a>
    {% if user.is_superuser %}
    <a
      class="px-1 xl:px-3 py-[.35em] text-center xl:text-left rounded-lg hover:bg-white hover:text-indigo-700 transition ease-in duration-200 w-full {{users_page}}"
      href="{% url 'users' %}"
    >
      <i class="fa-solid fa-users xl:mr-2 text-sm"></i>
      <span class="hidden xl:inline"> Users </span>
    </a>
    <a
      class="px-1 xl:px-3 py-[.35em] text-center xl:text-left rounded-lg hover:bg-sky-500 hover:text-white transition ease-in duration-200 w-full"
      target="_blank"
      href="{% url 'admin:index' %}"
      ><i class="fa-solid fa-lock xl:mr-2 text-sm"></i>
      <span class="hidden xl:inline"> Admin Dashboard </span>
    </a>
    {% endif %}
  </ul>
</div>

<script>
  document
    .getElementById("logout-link")
    .addEventListener("click", function (event) {
      event.preventDefault();
      if (confirm("Do you really want to logout?")) {
        window.location.href = this.href;
        window.api.logout(); // Call the exposed logout function
      }
    });

  function toggleDropdown(e) {
    e.name === "dropdownBtn"
      ? ((e.name = "close"), dropdownMenu.classList.remove("hidden"))
      : ((e.name = "dropdownBtn"), dropdownMenu.classList.add("hidden"));
  }

  // window.addEventListener("mouseup", function (event) {
  //   dropdownMenu.classList.add("hidden");
  // });
</script>
